@import "../../assets/scss/variables";

.stories {
    display: flex;
    padding-top: 1rem;

    &__item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;

        &__name {
            font-size: 0.8rem;
            color: $active-color;
        }

        &__img.active {
            display: flex;
            justify-content: center;
            align-items: center;

            fa-icon {
                color: white;
                position: relative;
                font-size: 1.4rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $main-color;
                opacity: 0.6;
            }
        }

        &__img {
            // border: 1px solid $main-color;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                right: -4px;
                bottom: -4px;
                border: 2px solid $main-color;
                border-radius: 50%;
            }

            &--1 {
                background: url("../../assets/img/harishan-kobalasingam-8PMvB4VyVXA-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--2 {
                background: url("../../assets/img/alex-suprun-ZHvM3XIOHoE-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--3 {
                background: url("../../assets/img/erik-lucatero-d2MSDujJl2g-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--4 {
                background: url("../../assets/img/joseph-gonzalez-iFgRcqHznqg-unsplash\ \(1\).jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--5 {
                background: url("../../assets/img/sergio-de-paula-c_GmwfHBDzk-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--6 {
                background: url("../../assets/img/x-sLGYaQ_stMM-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
            &--7 {
                background: url("../../assets/img/erik-lucatero-d2MSDujJl2g-unsplash.jpg") no-repeat center center scroll;
                background-size: cover;
            }
        }
    }
}