<div class="stories">
    <div class="stories__item">
        <div class="stories__item__img active stories__item__img--1">
            <fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>
        </div>
        <h4 class="stories__item__name">You</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--2"></div>
        <h4 class="stories__item__name">Dean</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--3"></div>
        <h4 class="stories__item__name">Supardi</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--4"></div>
        <h4 class="stories__item__name">Theodore</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--5"></div>
        <h4 class="stories__item__name">Walter</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--6"></div>
        <h4 class="stories__item__name">Jesse</h4>
    </div>
    <div class="stories__item">
        <div class="stories__item__img stories__item__img--7"></div>
        <h4 class="stories__item__name">Enola</h4>
    </div>
</div>